body {
    overflow-x:hidden;
}
h1{
    position: relative;
margin: 50px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#titulo{
    position: absolute;
    top:0px;
    background-color: rgb(186, 202, 236);
    height: 140px;
    width: 99.0%;
}
p{
    position: relative;
    margin-top: 90px;
    left: 510px;
    text-align: justify;
    font-family: cursive;
    font-size: 20px;   
}
table{
    margin-top: 30px;
}
table tr td{
    position: relative;
    border:solid 2px;
    left: 610px;
    text-align: justify;
    font-family: cursive;
    font-size: 20px;   
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 10px;
    left: 610px;
    font-size: 20px; 
}
button{
    position: relative;
    margin-top: 20px;
    left: 610px;
    background-color:  rgb(186, 202, 236);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
}

.iniciar button:hover{
    background-color: black;
    color:white;
    cursor:pointer;
}
.iniciar button:active{
    background-color: white;
    color:black;
}
.res button:hover{
    background-color: black;
    cursor:pointer;
    color:white;
}
.res button:active{
    background-color: white;
    color:black;
}
.act button:hover{
    background-color:rgb(88, 0, 0);
    cursor:pointer;
    color:white;
}
.act button:active{
    background-color: white;
    color:black;
}
#tipo{
    position: relative;
    margin-top: 0px;
    left: 610px;
    font-size: 20px; 
    border-radius: 5px 10px 5px 10px;
    width:290px;
}
#act{
    position: absolute;
    font-family: cursive;
    left: 10px;
    font-size: 20px; 
    top:610px;
}

#RES{
    
    font-family: cursive;
    font-size: 20px; 
    margin-top: -38px;
    margin-left: 770px;
}


