body {
    overflow-x:hidden;
}
.encontrado {
    color: red;
}
h1{
    position: relative;
    margin: 50px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#titulo{
    position: absolute;
    top:0px;
    background-color: rgb(243, 250, 203);
    height: 140px;
    width: 99.0%;
}
p{
    position: relative;
    margin-top: 50px;
    left: 390px;
    text-align: justify;
    font-family: cursive;
    font-size: 20px;   
}
table{
    margin-top: 30px;
}
table tr td{
    position: relative;
    border:solid 2px;
    left: 4px;
    text-align: justify;
    font-family: cursive;
    font-size: 15px;   
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 648px;
    left: 120px;
    font-size: 20px; 
}
button{
    position: relative;
    margin-top: 20px;
    left: 20px;
    background-color:  rgb(243, 250, 203);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
}

.iniciar button:hover{
    background-color: black;
    cursor:pointer;
    color:white;
}
.iniciar button:active{
    background-color: white;
    color:black;
}
.res button:hover{
    background-color: black;
    color:white;
    cursor:pointer;
}
.res button:active{
    background-color: white;
    color:black;
}
.act button:hover{
    background-color:rgb(88, 0, 0);
    cursor:pointer;
    color:white;
}
.act button:active{
    background-color: white;
    color:black;
}
#palabra{
    position: absolute;
    top: 665px;
    left: 270px;
    font-size: 20px; 
    border-radius: 5px 5px 5px 5px;
    width:250px;
}
#act{
    position: absolute;
    font-family: cursive;
    font-size: 20px; 
    top: 645px;
    left: 728px;
}

#RES{
    position: absolute;
    font-family: cursive;
    font-size: 20px; 
    top: 695px;
    left: 748px;
}

#texto{
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 700px;
    left: 20px;
    font-size: 20px; 
    width: 700px;
    height: 200px;

}
#resul{
    position: absolute;
    top: 645px;
    left: 728px;
}
